<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Credentials</title>
    <style>
        body {
            color: black;
        }
    </style>
</head>
<body>

    <p>Hi {{ name }},</p>

    <p>Welcome aboard!</p>

    <p>Your platform login and API credentials are;</p>

    <p>Email: <strong>{{ email }}</strong></p>
    <p>Password: <strong>{{ password }}</strong></p>
    <p>MerchantId: <strong>{{ merchantId }}</strong></p>
    <p>MerchantSecret: <strong>{{ merchantSecret }}</strong></p>
    <strong>NB: You will be required to change your default password at login</strong>

    <p>Thank You.</p>
</body>
</html>